<!-- footer container -->
<footer id="footer" class="footer">
  <div class="footer-container">
    <p>&copy 河南小背篓文化传播有限公司; <%= date(new Date(), 'YYYY') %></p>
    <p>技术支持 by eyunyi</p>
  </div>
</footer>
